@font-face {
	font-family: montserrat;
	src: url(fonts/montserrat/Montserrat-ExtraBold.otf);
	font-weight: 900;
}

@font-face {
	font-family: montserrat;
	src: url(fonts/montserrat/Montserrat-Regular.otf);
}

* {
	font-family: montserrat;
}

/********************/
/*    Components    */
/********************/

.card {
	background-color: white;
	border: 2px solid black;
	-webkit-box-shadow: 10px 10px 0px 0px black;
	-moz-box-shadow: 10px 10px 0px 0px black;
	box-shadow: 10px 10px 0px 0px black;
	margin: 20px;
	padding: 20px;
}

.button {
    background-color: #ffe000;
    padding: 1em;
    width: fit-content;
    border: 2px solid black;
	cursor: pointer;
	box-shadow: 6px 6px 0px 0px black;
	-webkit-transition: box-shadow 0.3s;
	transition: box-shadow 0.3s;
	outline: none; /* Replaced by hover/focus coloring */
}

.button:hover, 
.button:focus {
	background-color: #ffec64;
	box-shadow: 4px 4px 0px 0px black;
}

.button:active,
.button.toggled {
	background-color: white;
	box-shadow: 2px 2px 0px 0px black;
}

.focal-button {
	font-size: 20px;
    min-width: 316px;
    display: flex;
    justify-content: center;
}

.icon-button {
	margin: 10px;
	width: 30px;
	height: 30px;
	display: flex;
	align-items: center;
}

.icon-button>.fa {
	margin: auto;
}

.background-info {
	color: #ffe000;
	
}
/* Used to prevent content flashing onto the screen when it first loads. */
.ko-start-hidden {
	display: none !important;
}

/********************/
/* Specific Objects */
/********************/

html, body{
	margin: 0px;
	height: 100%;
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	background-color: #aa0000ff;
	display:flex;
	flex-direction:column;
}

#banner {
    display: flex;
    flex-direction: row-reverse;
    padding: 5px 20px 5px 5px;
	font-size: 16px;
	color: #ffe000;
}

#main-window {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
	flex-grow: 1;
	display: flex;
    flex-direction: column;
    justify-content: center;
}

#content-window {
	min-height: 500px;
}

#footer {
	height: 100px;
}

/* Title */

#title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main-title {
	width: 500px;
    max-width: 50vw;
    min-width: 200px;
}

#slogan {
    font-size: 20px;
    color: #ffe000;
}

/* Intro View */

#intro {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#intro-card {
    font-size: 20px;
    line-height: 1.5em;
	margin-bottom: 40px;
}

/* Joke View */

#joke {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#setup {
	width: 600px;
	margin-right: 100px;
	margin-top: 40px;
}

#punchline {
	width: 600px;
	margin-left: 100px;
	margin-bottom: 40px;
}

#setup, #punchline {
    font-size: 28px;
	min-height: 68px;
    align-items: center;
    display: flex;
}

#rating-buttons {
	display: flex;
	justify-content: center;
}

#improve-button {
	margin: 10px;
	height: 30px;
	display: flex;
	align-items: center;
}

/* Explanation View */

#explanation-descriptor {
    margin-top: 40px;
    margin-left: 10px;
    margin-bottom: 20px;
    font-size: larger;
}

.explanation {
	display: flex;
}

.explanation > .card {
    width: 500px;
    margin: 10px;
    box-shadow: 6px 6px 0px 0px black;
}

.explanation:nth-child(odd) > .card {
    margin-left: 30px;
}

#back-button {
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
}
